.hero {
  background-color: $veryLightGray;

  .container {
    padding-bottom: 1.5rem;
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-image: url("/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
    margin-bottom: 2rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 40%;
      
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      min-height: 41rem;
      background-image: none;
      margin-bottom: 0;
    }

    &::before {
      @include breakpoint-up(large) {
        width: 150%;
        content: "";
        position: absolute;
        height: 115%;
        background-image: url("/images/bg-intro-desktop.svg");
        background-size: 125%;
        background-repeat: no-repeat;
        background-position: -10% bottom;
      }
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("/images/image-mockups.png");
      background-size: 85%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 55%;
      }
      @include breakpoint-up(large) {
        width: 120%;
        height: 122%;
        background-image: url("/images/image-mockups.png");
        background-size: 93%;
        background-repeat: no-repeat;
        background-position: 95% 100%;
        left: 22%;
      }
    }
  }

  &__text {
    text-align: center;
    @include breakpoint-down(medium) {
      margin-bottom: 2rem;
      margin-left: 1.2rem;
      margin-right: 1.2rem;
      font-size: 0.9rem;
      line-height: 1.5rem;

      h1 {
        margin-bottom: 0;
      }
    }

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }
  }
}
