.offers {
  
  margin-bottom: 5.4375rem;

  p {
    margin-top: 0;
  }

  &__container {
    display: flex;
  }

  &__header {
    display: flex;
    margin-top: 5.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
    
  }

  &__more {
    color: $darkBlue;
    font-size: $font-sm;
    font-weight: bold;
  }

  &__text {
    font-size: $font-lg;
    font-weight: 700;
    margin-right: auto;
    margin-bottom: 0;
  }

  // Job Listing Container

  &__job {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 30.75rem;
    margin-right: 2.5rem;
  }

  &__title {
    color: $darkBlue;
    font-size: $font-job;
    font-weight: 700;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  &__date {
    margin-left: 4.1875rem;
    margin-bottom: 1rem;
  }

  &__name {
    color: $black;
    font-weight: 700;
    margin-right: 1.3125rem;
    margin-bottom: 2rem;
  }

  &__location {
    margin-bottom: 2rem;
  }

  &__description {
    word-spacing: 0.1rem;
    line-height: 1.7rem;
    margin-right: 2.875rem;
    margin-bottom: 0.625rem;
  }

  &__button {
    position: absolute;
    top: 10.8125rem;
    left: 27.125rem;
    height: 2.6875rem;
    width: 2.875rem;
  }

  // Spacer Line

  &__spacer {
    width: 2.5rem;
    height: 13.5625rem;
    border-left: 1px solid #AAAAAA;
  }

}
