html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
}

h1, h2, h3 {
  margin-top: 0;
  color: #141414;
  line-height: 1.15;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

p {
  font-size: 1.125rem;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

button {
  border: none;
  height: 3.25rem;
  width: 6.375rem;
  color: #FFFFFF;
  background-color: #276FFB;
  border-radius: 0.2rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

button:hover {
  opacity: 0.8;
}

.container {
  max-width: 102.5rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  padding-right: 8.75rem;
  padding-left: 8.75rem;
}

.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--px {
  padding-right: 8.75rem;
  padding-left: 8.75rem;
}

.container--pt {
  padding-top: 2.25rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 2.25rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.header__container {
  background-image: url(/images/hero-image.png);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  height: 33.75rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8.75rem;
}

.header__logo {
  font-size: 3rem;
  font-weight: bold;
  margin-right: auto;
}

.header__links a {
  font-size: 1.25rem;
  margin-right: 2rem;
}

.hero__text {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 3rem;
  word-spacing: 0.2rem;
}

.hero__description {
  color: #FFFFFF;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.hero__cta {
  width: 13.75rem;
  height: 3.25rem;
}

.offers {
  margin-bottom: 5.4375rem;
}

.offers p {
  margin-top: 0;
}

.offers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5.5rem;
  margin-bottom: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers__more {
  color: #276FFB;
  font-size: 1.125rem;
  font-weight: bold;
}

.offers__text {
  font-size: 3rem;
  font-weight: 700;
  margin-right: auto;
  margin-bottom: 0;
}

.offers__job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 30.75rem;
  margin-right: 2.5rem;
}

.offers__title {
  color: #276FFB;
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: auto;
  margin-bottom: 1rem;
}

.offers__date {
  margin-left: 4.1875rem;
  margin-bottom: 1rem;
}

.offers__name {
  color: #141414;
  font-weight: 700;
  margin-right: 1.3125rem;
  margin-bottom: 2rem;
}

.offers__location {
  margin-bottom: 2rem;
}

.offers__description {
  word-spacing: 0.1rem;
  line-height: 1.7rem;
  margin-right: 2.875rem;
  margin-bottom: 0.625rem;
}

.offers__button {
  position: absolute;
  top: 10.8125rem;
  left: 27.125rem;
  height: 2.6875rem;
  width: 2.875rem;
}

.offers__spacer {
  width: 2.5rem;
  height: 13.5625rem;
  border-left: 1px solid #AAAAAA;
}

.featured {
  position: relative;
  margin-bottom: 12rem;
}

.featured__header {
  margin-bottom: 2.5rem;
}

.featured__companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.featured__companies > div:last-of-type {
  opacity: 0.5;
}

.featured__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9.125rem;
  height: 8.25rem;
  margin-right: 2.75rem;
}

.featured__logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-radius: 100%;
  width: 5.625rem;
  height: 5.625rem;
  margin-bottom: 0.875rem;
}

.featured__image {
  width: 1.875rem;
}

.featured__name {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
}

.featured__button {
  position: absolute;
  border-radius: 50%;
  height: 4.625rem;
  width: 4.625rem;
  top: 0.5625rem;
  left: 87%;
}

.cta__wrapper {
  width: 102.5rem;
  height: 20.3125rem;
  border-radius: 0.3125rem;
  background-image: url("/images/Newsletter-image.png");
  background-color: #141414;
}

.cta__text__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}

.cta__text, .cta__subscribe__text {
  color: #FFFFFF;
}

.cta__text {
  margin-top: 4.6875rem;
  margin-left: 4.375rem;
  font-weight: 700;
}

.cta__subscribe__text {
  margin-top: 0;
  margin-left: 4.375rem;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  width: 37.5rem;
}

.cta__input {
  width: 22.4375rem;
  height: 2.75rem;
  border-radius: 0.3125rem;
  border: 0;
  padding-left: 1.5rem;
  margin-left: 4.375rem;
}

.cta__subscribe {
  width: 9.1875rem;
  height: 2.75rem;
  font-size: 1rem;
  border-radius: 0.3125rem;
  margin-left: 1.5rem;
}

.footer {
  margin: 0 auto;
  margin-top: 1.75rem;
  margin-bottom: 4rem;
  text-align: center;
}

.footer__links {
  color: black;
  text-decoration: none;
  font-size: 1.125rem;
  margin-right: 1.5rem;
}
/*# sourceMappingURL=style.css.map */